body {
	background-image: url('../images/fondo.jpg');
	background-color: transparent;
	width: 100vw;
}

#contenedor-login {
	display: flex;
	justify-content: center;
	margin-top: 5em;
}

#contenedor-productos {
	margin-left: 0px;
}

#registro {
	padding: 1em;
}

#login {
	width: 25em;
}

.producto {
	margin: 0.5em;
}

.oculto {
	display: none;
}
