body {
	background-image: url('../images/fondo.jpg');
	background-color: transparent;
	width: 100vw;
}

#contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
}

.card {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 0.1em;
}

.oculto {
	display: none;
}
