html {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url('../images/fondo.jpg');
	background-color: transparent;
	width: 100vw;
	margin-bottom: 4em;
}

.card {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 0.1em;
}

#contenedor-login {
	display: flex;
	justify-content: center;
	margin-top: 5em;
}

#grupo-productos {
	margin-left: 0px;
}

#productos-agregados {
	margin: 0;
}

#pedido-preview {
	width: 22em;
}

#registro {
	padding: 1em;
}

#login {
	width: 25em;
}

#contenedor-productos {
	margin-top: -2em;
}

.producto {
	margin: 0.5em;
}

.imagen-producto {
	height: 14em;
	border-radius: 0.5em;
}

.contenedor-cantidad {
	display: flex;
	justify-content: flex-end;
}

.cantidad-productos {
	max-width: 10em;
	height: 2.8em;
}

.precio-producto {
	font-size: 1.4em;
	font-weight: bold;
	margin-right: 1em;
	text-align: end;
}

.titulo-producto {
	text-align: start;
	font-size: 1.4em;
}

.btn-agregar-producto {
	height: 2.8em;
}

#header-carrito {
	font-weight: bolder;
}

#btn-vaciar-carrito {
	color: #ff0000;
	text-align: end;
	margin-bottom: -1em;
}

#detalle-pedido {
	margin: -1em auto 1em 0.5em;
}

#contenedor-medio-pago {
	display: flex;
	align-items: baseline;
	margin-left: 0.5em;
	margin-bottom: 1em;
}

#medio-pago {
	max-width: 10em;
	margin-left: 2em;
}

#contenedor-envio {
	margin-left: 1em;
}

#envio-texto {
	margin-top: 0.5em;
}

.footer {
	background-color: #292828;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.footer-social-network > a {
	display: inline-block;
	margin-left: 1.75em;
	cursor: pointer;
}

.oculto {
	display: none;
}

@media only screen and (max-width: 1024px) {
	#productos-agregados {
		display: flex;
		flex-direction: row;
		margin-top: 2em;
	}

	#pedido-preview {
		width: 35em;
		margin-right: 3em;
	}

	#mapa-envio {
		width: 25em;
		height: 24em;
	}
}

@media only screen and (max-width: 768px) {
	#productos-agregados {
		display: flex;
		flex-direction: column;
		margin-top: 1em;
	}

	.navbar {
		text-align: end;
	}

	#pedido-preview {
		width: 45em;
	}

	#mapa-envio {
		width: 45em;
	}

	.card {
		width: 11.5em;
	}

	.producto {
		margin-left: 2em;
	}

	.imagen-producto {
		max-width: 11em;
		max-height: 11em;
	}

	.titulo-producto {
		font-size: 1em;
		text-align: start;
	}

	.precio-producto {
		font-size: 1em;
	}

	.contenedor-cantidad {
		margin-top: -1em;
		display: flex;
		flex-direction: row;
	}

	.cantidad-productos {
		font-size: 0.8em;
	}

	.btn-agregar-producto {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 425px) {
	#contenedor-productos {
		margin-left: -1em;
	}

	#pedido-preview {
		width: 24em;
	}

	#mapa-envio {
		width: 24em;
	}

	.card {
		width: 10.5em;
	}

	.producto {
		margin: 0.5em;
	}

	.imagen-producto {
		max-width: 10em;
		max-height: 10em;
	}

	.titulo-producto {
		font-size: 1em;
	}

	.precio-producto {
		font-size: 1em;
	}

	.footer {
		font-size: 0.6em;
	}
}

@media only screen and (max-width: 375px) {
	#pedido-preview {
		width: 21em;
	}

	#mapa-envio {
		width: 21em;
	}

	.card {
		width: 9em;
	}

	.imagen-producto {
		max-width: 8.5em;
		max-height: 8.5em;
	}

	.titulo-producto {
		font-size: 0.9em;
	}

	.precio-producto {
		font-size: 0.9em;
	}

	.cantidad-productos {
		font-size: 0.7em;
	}

	.btn-agregar-producto {
		font-size: 0.7em;
	}

	.footer {
		font-size: 0.5em;
	}
}

@media only screen and (max-width: 320px) {
	#pedido-preview {
		width: 18.5em;
	}

	#mapa-envio {
		width: 18.5em;
	}

	.card {
		width: 9em;
	}

	.producto {
		margin: 0.2em;
	}

	.imagen-producto {
		max-width: 8.5em;
		max-height: 8.5em;
	}

	.titulo-producto {
		font-size: 0.8em;
	}

	.precio-producto {
		font-size: 0.8em;
	}

	.cantidad-productos {
		font-size: 0.7em;
	}

	.btn-agregar-producto {
		font-size: 0.7em;
	}

	#detalle-pedido {
		font-size: 0.8em;
	}

	#label-medio-pago {
		font-size: 0.9em;
	}

	#medio-pago {
		font-size: 0.9em;
	}

	.form-check-label {
		font-size: 0.9em;
	}

	.footer {
		font-size: 0.4em;
	}
}
