body {
	background-image: url('../images/fondo.jpg');
	background-color: transparent;
	width: 100vw;
}

.card {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 0.1em;
}

#pedidos {
	display: flex;
	flex-direction: column;
}

#contenedor-tabla-usuario-pedidos {
	max-width: 80em;
	margin-left: 2em;
	margin-top: 0.5em;
	overflow-x: scroll;
}

#titulo-tabla {
	background-color: #28a745;
	padding: 0.5em;
	width: fit-content;
	margin-left: 5em;
	margin-top: 1.5em;
	color: #ffffff;
}

.table-success {
	color: #000000;
}

.btn-danger {
	align-items: end;
}

.oculto {
	display: none;
}

@media only screen and (max-width: 1024px) {
	#contenedor-tabla-usuario-pedidos {
		max-width: 62em;
		margin-left: 1em;
	}

	#contenedor-tabla-usuario-pedidos button {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 768px) {
	#contenedor-tabla-usuario-pedidos {
		max-width: 52em;
		margin-left: 0.5em;
		font-size: 0.9em;
	}

	#contenedor-tabla-usuario-pedidos button {
		font-size: 0.8em;
	}

	.navbar {
		text-align: end;
	}
}

@media only screen and (max-width: 425px) {
	#contenedor-tabla-usuario-pedidos {
		width: 40em;
		margin-left: 0.5em;
		font-size: 0.9em;
	}

	#contenedor-tabla-usuario-pedidos button {
		font-size: 0.8em;
	}

	#titulo-tabla {
		font-size: 1em;
	}
}

@media only screen and (max-width: 375px) {
	#contenedor-tabla-usuario-pedidos {
		max-width: 40em;
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 320px) {
	#contenedor-tabla-usuario-pedidos {
		max-width: 35em;
		font-size: 0.7em;
	}
}
