body {
	background-image: url('../images/fondo.jpg');
	background-color: transparent;
	width: 100vw;
}

#contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
}

.oculto {
	display: none;
}
